/* Header */

.navbar {
    padding: 1rem;
    background-color: #152e52;
}

.navbar-title {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: #bdad7d;
}


/* Main */

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f7f7f7;
}

.page-title,
.site-disclosure {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.site-disclosure a {
    font-weight: bold;
    color: #212529;
    text-decoration: none;
}

.disclaimer-card {
    padding: 0.75rem;
    color: #664d03;
    border-color: #ffecb5;
    background-color: #fff3cd;
}

.disclaimer-header {
    font-weight: bold;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    justify-content: space-between;
}

.content-disclaimer a {
    font-weight: bold;
    color: #664d03;
    text-decoration: none;
}


/* Footer */

.footer {
    background-color: #152e52;
    color: #fff;
}

.footer p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0rem;
}

.footer-divider {
    width: 100%;
    opacity: .2;
    border-bottom: 1px solid #e8e8e8;
}